<style>
	body{
		padding:0;
		margin:0;
		font-size: 12px;
	}

	header{
		padding: 15px;
		background: #50bdff;
		color: #fff;
		text-align: center;
	}

	header h1{
		font-size: 18px;
		font-weight: bold;
	}

	main{
		padding: 30px;
	}

	table{
		width: 100%;
	}

	table td, table th {
		font-size: 12px;
		padding: 5px;
	}

	table thead tr th {
		background-color: #cdcdcd;
		text-align: left;
	}

	table tbody tr td {
		background-color: #e6e6e6;
	}

	#data_boxes {
		width: 100%;
	}

	.data-box{
		display: inline-block;
		width: 250px;
		overflow: hidden;
		font-size: 12px;
		margin: 0 15px 30px 0;
	}

	.data-box header{
		padding: 5px 0;
	}

	.data-box table{
		border: solid 1px #cdcdcd;
	}

	.data-box table tbody tr td {
		background: none;
	}

	.data-box table tbody tr:nth-child(odd) td,
	.data-box table tbody tr:nth-child(odd) th {
		background: #cdcdcd;
	}

	.data-box table tbody tr td.mismatch.missing {
		background-color: #f65058;
		color
	}

	.text-center{
		text-align: center; 
	}
</style>
<body>
	<header>
		<h1>IMPORTADORA 20 & 10 {{shopName}}</h1>
		<h3>Cierre de caja {{date}}</h3>
	</header>
	<main>
		<p><strong>Cajero: </strong>{{sellerName}}</p>
		<p><b>Hora de inicio: </b>{{startTime}}</p>
		<p><b>Hora de cierre: </b>{{endTime}}</p>
		<br>

		<div id="data_boxes">
			<div class="data-box">
				<header>
					<p>DETALLE: CIERRE ACTUAL</p>
				</header>
				<table>
					<tbody>
						<tr>
							<th>Ventas del dia:</th>
							<td>{{currentShift.totalSold}}</td>
						</tr>
						<tr>
							<th>Efectivo al inicio:</th>
							<td>{{currentShift.startCash}}</td>
						</tr>
						<tr>
							<th>Ingresos:</th>
							<td>{{currentShift.cashIn}}</td>
						</tr>
						<tr>
							<th>Egresos:</th>
							<td>{{currentShift.cashOut}}</td>
						</tr>
						<tr>
							<th>Efectivo al cierre:</th>
							<td>{{currentShift.endAmount}}</td>
						</tr>
						<tr>
							<th>Descuadre:</th>
							<td class="mismatch {{currentShift.mismatchClass}}">
								{{currentShift.mismatchSymbol}} {{currentShift.mismatch}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			{{#if daySummary}}
				<div class="data-box">
					<header>
						<p>DETALLE: RESUMEN DE DIA</p>
					</header>
					<table>
						<tbody>
							<tr>
								<th>Ventas del dia:</th>
								<td>{{daySummary.totalSold}}</td>
							</tr>
							<tr>
								<th>Efectivo al inicio:</th>
								<td>{{daySummary.startCash}}</td>
							</tr>
							<tr>
								<th>Ingresos:</th>
								<td>{{daySummary.cashIn}}</td>
							</tr>
							<tr>
								<th>Egresos:</th>
								<td>{{daySummary.cashOut}}</td>
							</tr>
							<tr>
								<th>Efectivo al cierre:</th>
								<td>{{daySummary.endAmount}}</td>
							</tr>
							<tr>
								<th>Descuadre:</th>
								<td>{{daySummary.mismatch}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			{{/if}}
		</div>

		{{#if expenses}}
			<h2 class='text-center'>Detalles de gatos</h2>

			<table class='table table-bordered' width='100%'>
				<thead>
					<tr>
						<th>Hora</th>
						<th>Descipcion</th>
						<th>Monto</th>
					</tr>
				</thead>
				<tbody>
					{{#each expenses.records}}
						<tr>
							<td>{{time}}</td>
							<td>{{description}}</td>
							<td>{{amount}}</td>
						</tr>
					{{/each}}
				</tbody>
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td>{{expenses.total}}</td>
					</tr>
				</tbody>
			</table>
		{{else}}
			<h2 class='text-center'>No se realizaron gastos durante este turno!</h2>
		{{/if}}

		<hr>

		{{#if income}}
			<h2 class='text-center'>Detalles de ingresos</h2>

			<table class='table table-bordered' width='100%'>
				<thead>
					<tr>
						<th>Hora</th>
						<th>Descipcion</th>
						<th>Monto</th>
					</tr>
				</thead>
				<tbody>
					{{#each income.records}}
						<tr>
							<td>{{time}}</td>
							<td>{{description}}</td>
							<td>{{amount}}</td>
						</tr>
					{{/each}}
				</tbody>
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td>{{income.total}}</td>
					</tr>
				</tbody>
			</table>
		{{else}}
			<h2 class='text-center'>No se realizaron ingresos durante este turno!</h2>
		{{/if}}
	</main>
</body>